<h1>New friend</h1>

<%= render "form", friend: @friend %>

<br>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <%= link_to '<i class="bi bi-arrow-left"></i> Back'.html_safe, friends_path, class: "btn btn-outline-secondary"  %>
</div>
